@import 'src/_variables';
%base_setting{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.greeting{
  margin-top: 10px;
  text-align: center;
}

.main_content{
  @extend %base_setting;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.content{
  display: flex;
  flex-direction: column;
}

.teacher{
  border: 2px solid $dark-blue;
  border-radius: 5px;
  text-align: center;
  width: 55%;
  margin-right: 5%;
  height: 15%;
}

a{ text-decoration: none; color: inherit;}
a:visited{text-decoration: none; color: inherit;}
a:active{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}

.letters{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  width: 25%;
  flex-wrap: wrap;
}

%letter{
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 7px;
  border: 2px solid $dark-blue;
}
.letter_not_chosen{
  @extend %letter
}
.letter_not_chosen:hover{
  background-color: $lightblue;
}
.letter_chosen{
  @extend %letter;
  background-color: $lightblue;
}
.persons{
  width: 90%;
  height: auto;
  margin-left: 5%;
}
.persons_hide{
  display: none;
}
.fio{
  border-radius: 5px;
  border: 1px solid $dark-blue;
  text-align: center;
  margin-top: 4px;
  cursor: pointer;
}

%review{
  margin: 10px;
  border-radius: 5px;
  border: 1px solid $dark-blue;
}
.review_show{
  @extend %review
}
.review_hide{
  width: 0;
  height: 0;
  overflow: hidden;
}
.showHide{
  @extend %review;
  cursor: pointer;
}
.bur_rev{
  padding-left: 27%;
}
.field_rev{
  padding-left: 13%;
}

.rate_teacher{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.rate_teacher_fields{
  width:50%;
  padding-top: 10px;
  padding-left: 25%;
}
.rate_teacher_button{
  padding-top: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.data{
  width:100%;
}

.textfields{
  padding-top: 20px;
}
.around_textfields{
  margin: 2%;
  border-radius: 5px;
  border: 1px solid $dark-blue;
  padding: 10px;
}