@import 'src/_variables';

.btn{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  letter-spacing: 2px;
  border-radius: 13px;
  opacity: 1;
}

.content{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  height: 100%;
}

.best{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid $black;
  height: 100px;
  width: 300px;
  background-color: green;
}

.worst{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid $black;
  height: 100px;
  width: 300px;
  background-color: red;
  margin-top: 10px;
}

.letters{
  max-width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

%let_main{
  border: 2px solid $black;
  width: 70px;
  height: 70px;
  margin: 5px;
}
.letter{
  @extend %let_main;
  background-color: white;
}
.letter:hover{
  background-color: $lightblue;
  cursor: pointer;
}
.chosen_letter{
  @extend %let_main;
  background-color: $lightblue;
}

.hide{
  width:0;
  height:0;
  overflow: hidden;
  transition-timing-function: ease-out;
  transition: all 1s;
}
.not_hide{
  width:auto;
  height: auto;
  transition-timing-function: ease-in;
  transition: all 1s;
}

a{ text-decoration: none; color: inherit;}
a:visited{text-decoration: none; color: inherit;}
a:active{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}

.greeting{
  margin-top: 10px;
  text-align: center;
}

.main_content{
  display: flex;
  flex-direction: column;
}

.teacher{
  margin-top: 10%;
  border: solid $dark-blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center
}

.properties{

}