@import "src/_variables.scss";

input {
  opacity: 0;
}

.toggle {
  position: relative;
  display: inline-block;
}

label.toggle-item {
  width: 7em;
  background: $dark-blue;
  border-radius: 50px;
  height: 3em;
  display: inline-block;
  margin-left: 85%; //set otstupi
  margin-top: 50%;
  position: fixed;
  cursor: pointer;
}

.checkcross {
  position: absolute;
  .check {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    background: $yellow;
    transition: .4s ease;
    top: 4.5px;
    left: 4.5px;
  }
}

#checkcross:checked + label {
  .check {
    left: 68px;
    background: $lightblue;
    &:before {
      width: 27px;
    }
    &:after {
      width: 27px;
    }
  }
}