@import "../../_variables";
%base_setting{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;}
.content{
  @extend %base_setting;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.register{
  width: 45%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  text-align: center;
  border-radius: 15px;
  border: 2px solid $dark-blue;
  height: 80%;
}

.greeting{
  padding-top: 2.5%;
}

.fields{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 25%;
  padding-top: 5%;
}