@import "../../_variables";

.modal{
  margin: 1.75rem auto;
  width: 100%;
  max-width: 500px;
  background: white;
  background-clip: padding-box;
  border: 3px solid red;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.modalDialog{
  animation: slideIn 0.3s ease-out;
}
.modalFadeOut{
  animation-name: fadeOut;
  .css-modalDialog.name {
    animation-name: slideOut
  };
}
.modalMain{
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: $dark-blue;
  animation: fadeIn 0.3s linear;
}

.smalltext{
  font-size: 65%;
}